<%- include('parts/top.ejs') %>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>New Arrivals</h4>
          <h2>Sixteen Products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">All Products</li>
            <% Object.keys(productsByCategory).forEach(category => { %>
              <li data-filter=".<%= category.replace(' ', '-').toLowerCase() %>"><%= category %></li>
            <% }) %>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            <% Object.keys(productsByCategory).forEach(category => { %>
              <% productsByCategory[category].forEach(product => { %>
                <div class="col-lg-4 col-md-4 all <%= category.replace(' ', '-').toLowerCase() %>">
                  <!-- Updated product link -->
                  <a href="<%= user ? '/product/' + product._id : '/product/' + product._id %>" class="product-link">
                    <div class="product-item">
                      <img src="/uploads/<%= product.image %>" alt="<%= product.title %>">
                      <div class="down-content">
                        <h4><%= product.title %></h4>
                        <h6>$<%= product.price %></h6>
                        <p><%= product.description %></p>
                        <ul class="stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (<%= product.reviews %>)</span>
                      </div>
                    </div>
                  </a>
                </div>
              <% }) %>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="pages">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('parts/buttom.ejs') %>
